# === CodeIgniter 4 ===
/writable/*
!/writable/index.html
/vendor/
/.env
/public/build/
/public/uploads/

# === React ===
node_modules/
build/
.env.local
.env.development
.env.production
.DS_Store

# === General ===
*.log
*.bak
*.tmp
*.swp
.idea/
.vscode/